*{
    padding: none;
    margin: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(44, 199, 57);
}
header nav{
    display: flex;
    gap: 20px;
    margin-left: auto;
}
nav a{
    color: white;
    text-decoration: none;
}
.welcome{
    white-space: nowrap;
    background-color: rgb(230, 230, 230);
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.welcome h1{
    margin: none;
    margin-bottom: 10px;
}
.welcome p{
    margin-bottom: 20px;
}
.welcome button{
    border: none;
    color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color:rgb(44, 199, 57);
}
.welcome button:hover{
    cursor: pointer;
    background-color: hsl(119, 60%, 60%);
}
.welcome button:active{
    cursor: pointer;
    background-color: hsl(119, 40%, 40%);
}
.features{
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.features button{
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    width: 400px;
}
.features button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 83%);
}
.features button:active{
    cursor: pointer;
    background-color: hsl(0, 0%, 51%);
}
footer{
    padding: 3px;
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: rgb(61, 61, 61);
}